<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="ISUX">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>demo</title>
    <link rel="stylesheet" type="text/css" href="__CDN__/frozenui/1.2.0/frozen.css">
    
</head>
<body>
    <div class="wrapper">
       
    </div>
     <script src="__CDN__/frozenui/1.0.1/zepto.min.js"></script>
    <script src="__CDN__/frozenui/1.0.1/frozen.js"></script>
    <script>
       (function() {
			
        })();
    </script>
</body>
</html>