<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>微信安全支付</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		
		</script>
		

		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript">
		
			var url = "{:U('Weixin/Weixinjs/index',array('tk'=>'eotprkjn1426473619'))}?url="+location.href.split("#")[0];
			
			document.write('<script src="'+url+'"><\/script>');
		</script>
		
		
	</head>

	<body>

						
		</br>
		<pre><code>{:dump($params)}</code></pre>
		</br>
		</br>
		</br>
		<div align="center">
			<button style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay();" id="pay">支付测试</button>
		</br>
		</br>
		<!--</br>
			<button style="width:210px; height:30px; background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" id="jspay">JS支付测试</button>
		</div>-->
		
		<script src="__CDN__/frozenui/1.0.1/zepto.min.js"></script>
				<script type="text/javascript">

		//调用微信JS api 支付
		function jsApiCall()
		{
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				{$jsapiparams},
				function(res){
					WeixinJSBridge.log(res.err_msg);
					if(res.err_msg == "get_brand_wcpay_request:ok" ) {
						window.location.href = "{:U('Admin/WxpayTest/success')}";
					}else if(res.err_msg == "get_brand_wcpay_request:cancel"){
					}else if(res.err_msg == "get_brand_wcpay_request:fail"){
						alert(res.err_desc);
					}
				}
			);
		}

		function callpay()
		{
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
			    jsApiCall();
			}
		}
	</script>
		<script type="text/javascript">
			
//			wx.ready(function() {
//			});
//			wx.error(function(res) {
//			});
			
//			$(function() {
//				$("#jspay").click(function() {
//					wx.chooseWXPay({
//						timestamp:"{$params.timestamp}", 
//						nonceStr:"{$params.nonceStr}",
//						package:"{$params.package}",
//						signType:"{$params.signType}",
//						paySign:"{$params.paySign}",
//					    success: function (res) {
//					    	alert(res.err_code+res.err_desc+res.err_msg);
//					    }
//					});
//				});
//			})
		</script>
		
	</body>

</html>