<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>测试静默获取用户信息</title>
		<meta name="viewport" content="width=device-width;minimum-scale=1.0;maxmum-scale=1.0;user-scalable=no;">
		
	</head>
	<body>
		测试静默获取用户信息
		<!--
			subscribe : 
			openid : 
			nickname : 
			city : 
			province : 
			country : 
			headimgurl : 
			subscribe_time : 
			unionid : 
			remark : 
			 -->
		<empty name="userinfo">
			<div>
				无法获取您的信息，请使用微信打开！
			</div>
		<else/>
			<div style="width:100%">
				<div>
				昵称：{$userinfo.nickname}<br/>
				关注时间：{$userinfo.subscribe_time|date="Y-m-d h:m:s",###}<br/>
				是否族长：【暂未实现】<br/>
				</div>
				<div style="float:left;">
				<img  src="{$userinfo.headimgurl}" style="width:60px;height:60px;" />	
				</div>
			</div>
			<include file="partial/footermenu" />
		</empty>
		
		{__NORUNTIME__}
	</body>
</html>
